body {
    font-family: "Google sans";
    margin: 0;
}

:root {
    --primary: #247BA0; /* Title, links, main butttons */
    --secondary: #70C1B3; /* Less important elements */
    --accent: #F25F5C; /* Alrams, Buy Button, Sold */
    --highlight: #FFE066;
    
    --background: #50514F;
    --text: #FFFFFF;
}

.header {
    background-color: var(--background);
    border-bottom: 10px solid var(--accent);
    width: 100%;
    position: sticky;
    top: 0;
}

.main-title {
    color: var(--accent);
    text-align: center;
    font-size : 40px;
    margin: 0;
}

.main-title-2 {
    color: var(--secondary);
}

.nav-bar {
    background-color: var(--background);
    overflow: hidden;
}

.nav-link {
    color: var(--text);
    background-color: var(--primary);
    outline: 1px solid var(--secondary);
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 2px 9px black;

    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    margin-top: 3px;
    width: calc(96% / 3);
}

.nav-link:hover {
    color: var(--accent);
    background-color: var(--highlight);
}
.clear {
    clear: both;
}

/* ========== Still Working  here ========== */

.main-section {
    background-color: var(--background);
    padding: 5px;
}

.catagory-section {
    color: var(--secondary);
    text-align: center;
    text-decoration: underline;
    font-size: large;
}

.catagory-card {
    background-color: red;
    border-radius: 10px;
    border: 3px solid var(--highlight);
    box-shadow: 1px 3px 5px black;
    
    width: calc(90% / 3);
    background-size: cover;
    display: inline-block;
    height: 300px;
}

.catagory-card:hover {
    box-shadow: 1px 1px 10px var(--text);
    cursor: pointer;
}

.card-title {
    color: var(--text);
    background-color: var(--background);
    border-top: 3px solid #F25F5C;
    border-radius: 7px;
    font-size: 25px;

    position: relative;
    top: 141px;
    padding: 50px;
}

#card-img-1 {
    background-image: url(Images/adonyig-back-to-school-3596263_1920.jpg);
}

#card-img-2 {
    background-image: url(Images/hermann-books-462579.jpg);
}

#card-img-3 {
    background-image: url(Images/adonyig-school-times-3599175.jpg);
}


